<main class="dashboard">
    <section class="enter-currency">
        <select class="enter-currency__select" (change)="onInstrumentChange($event)">
            <option value="">Select an Instrument</option>
            <option *ngFor="let instrument of instruments" value="{{instrument.id}}">{{instrument.symbol}}</option>
        </select>
        <button [disabled]="!selectedInstrumentId" (click)="subscribe()" class="enter-currency__button">
            {{ isSubscribed ? 'Unsubscribe' : 'Subscribe' }}
        </button>
    </section>
    <section class="live-price">
        <h2 class="live-price__title">Market Data</h2>
        <app-live-price class="live-price__container" [instrument]="selectedInstrument"></app-live-price>
    </section>
    <section class="historical-chart">
        <h2 class="historical-chart__title">Charting Data</h2>
        <app-historical-chart class="historical-chart__container"></app-historical-chart>
    </section>
</main>