<main class="dashboard">
    <section class="enter-currency">
        <select class="enter-currency__select" [(ngModel)]="selectedInstrumentId">
            <option *ngFor="let instrument of instruments" [value]="instrument.id">
                {{instrument.symbol}}
            </option>
        </select>

        <button class="enter-currency__button" (click)="toggleLivePrice()">{{ livePriceActive ? 'Відписатися' :
            'Підписатися' }}</button>
    </section>
    <section class="live-price">
        <h2 class="live-price__title">Market Data</h2>
        <app-live-price class="live-price__container" [active]="livePriceActive"
            [instrument]="selectedInstrument"></app-live-price>
    </section>
    <section class="historical-chart">
        <h2 class="historical-chart__title">Charting Data</h2>
        @if(showChart) {
        <app-historical-chart class="historical-chart__container" [bars]="bars"></app-historical-chart>
        } @else {
        <p>No instrument selected</p>
        }
    </section>
</main>